
/* DEBUG */

  * {
    border: 1px solid red;
  }

/* FINE DEBUG */
body {
  font-family: 'Open Sans', sans-serif;
}

ul li a {
  font-size: 0.8rem;
  ;
}

#main-list{
  font-size: 0.5rem;
}

#ndrow-main{
  background-size: 100vw;
}

footer{
  background-image: url(./src/assets/img/footer-bg.jpg);
}

footer {
  font-size: 0.2rem;
}